
	<web-app id="WebApp_ID">
		<display-name>Spring</display-name>
		<servlet>
			<servlet-name>SearchStudent</servlet-name>
			<display-name>SearchStudent</display-name>
			<description></description>
			<servlet-class>Controller.SearchStudent</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>SearchStudent</servlet-name>
			<url-pattern>/SearchStudent</url-pattern>
		</servlet-mapping>
		<welcome-file-list>
			<welcome-file>index.html</welcome-file>
			<welcome-file>index.htm</welcome-file>
			<welcome-file>index.jsp</welcome-file>
			<welcome-file>default.html</welcome-file>
			<welcome-file>default.htm</welcome-file>
			<welcome-file>default.jsp</welcome-file>
		</welcome-file-list>
	</web-app> 